<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://provisioningfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a2c0f51a-d748-429a-9db0-11b3fca1a930/resourceGroups/provisioningfunctions/providers/Microsoft.Web/sites/ProvisioningFunctions</ResourceId>
    <UserName>$ProvisioningFunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://provisioningfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>