################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/TestLinks.txt
/Properties/PublishProfiles
/AzureProvisioning.csproj.user
/Properties/ServiceDependencies/ProvisioningFunctions - Zip Deploy
/local.settings.json
/host.json
/Properties
